h1.archiveHeader {
    color: #bbbbbb;
    text-shadow: $mediumShadow;
}

div.textContent {
    &.blogPage {
        padding-right: 8px;
        &.archivePage h1:nth-of-type(2) { margin-top: 0; }
        h1 {
            margin-bottom: 5px;
            a { text-shadow: $mediumShadow; }
        }
    }
    :not(p.smallBlogPostText) a { color: $deeppink; }
    div.postContent a { text-shadow: none; }
}

div.blogArchives a { color: $deeppink; }

.smallBlogPostText {
    &, & a {
        color: #777777 !important;
        text-shadow: 0.5px 0.5px 1px black !important;
        font-size: 12px;
        margin: 0;
    }
    a {
        font-weight: bold;
        &:hover { color: #aaaaaa !important; }
    }
}

div.widgetSidebar {
    margin: 0 80px 0 10px;
    float: right;
}