div#comments {
    border-top: 1px solid black;
    margin-right: calc(95px + 16.67%);
    font-size: small;
    
    a { text-shadow: none; }
    span.required-field-message, label[for="comment"] { display: none; }

    ul {
        list-style: none;
        &.comment-list { padding-left: 0; }
        &.children { padding-left: 30px; }
    }

    div.reply {
        margin-bottom: 15px;
        a.comment-edit-link { font-weight: bold; }
    }

    p.commentContent { margin: 0; }
    p.smallBlogPostText { font-size: 10.5px; }
}