.searchBox {
    width: 90%;
    height: 50px;
    border: 1.5px solid black;
    border-radius: 5px;
    font-size: 24px;
}

div#searchOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 110;
    visibility: hidden;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    background-color: $semitransparentdeeppink;
    opacity: 0;
    transition: opacity $trans ease;

    &.searchActive {
        visibility: visible;
        opacity: 1;
        div#liveSearchResults { display: block; }
    }

    input.searchTerm { @extend .searchBox; }

    i#closeSearch { right: 20px; }

    div#liveSearchResults {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        top: 72px;
        width: calc(100% - $verticalPadding * 2);
        margin-top: 10px;
        height: calc(100% - 82px);
        padding: 10px;
        @include roundedCorners;
        border-radius: 10px 10px 0 0;

        div.threeColumns h2 { margin-top: 0; }

        i.fa.fa-spinner.fa-pulse.fa-3x.fa-fw {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        h3 {
            margin-bottom: 5px;
            a {
                text-shadow: $mediumShadow;
                color: $deeppink;
                &:hover { color: $softpink; }
            }
            span.smallBlogPostText { font-weight: normal; }
        }
    }
}

body.admin-bar div#searchOverlay { top: 32px; }