@mixin linkText {
    color: $deeppink;
    &:hover { color: $mediumpink; }
}

@mixin darkLinkText {
    color: $mediumgray !important;
    &:hover { color: $darkgray !important; }
}

@mixin headerFooter {
    a:not(.wp-block-social-link-anchor), a i {
        text-decoration: none;
        font-size: 16px;
    }
    ul.menu { list-style: none; }
}

@mixin headerAndSidebarLinks {
    li a {
        text-decoration: none;
        &:hover { color: $plum !important; }
    }
    li.is-active a, li a[aria-current=page], li.current-menu-item a, li.current_page_parent a, a.current-menu-item {
        text-decoration: underline;
        color: $plum !important;
    }
}

@mixin flexCenterItems {
    display: flex;
    align-items: center;
}

@mixin roundedCorners {
    background-color: $lightpink;
    border-radius: 10px;
}

@mixin fitContentWidth {
    width: -moz-fit-content !important;
    width: fit-content !important;
}

@mixin buttons {
    background: $deeppink !important;
    border-color: $deeppink !important;
    color: white !important;
    border: none !important;
    border-radius: 3px !important;
    cursor: pointer !important;
    font-weight: normal !important;
    padding: 10px;
    &:hover { background: $mediumpink !important; }
}