div#searchform {
    text-align: center;
    input#s {
        @extend .searchBox;
        background-color: $lightpink;
        color: $darkgray;
    }

    input#searchsubmit {
        font-size: 16px;
        padding: 12px 18px;
        margin-top: 8px;
    }
}

div#searchResults h2 {
    text-shadow: $mediumShadow;
    &.postSearchResultsPage { margin-bottom: 0; }
}