* {
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    color: #222;
    font-family: Roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &.admin-bar { min-height: calc(100vh - 32px); }
    &.noScroll { overflow: hidden; }
}

div#mainContent {
    flex: 1;
    margin-bottom: 8px;
}

div.textContent, div#searchOverlay { padding: 0 $verticalPadding; }
div.textContent {
    max-width: 1280px;
    margin: auto;
    p:not(.smallBlogPostText) {
        line-height: 1.15em;
        text-align: justify;
    }
}

a, a i, input[type=submit], button[type=submit], i#closeSearch, button.wc-block-cart-item__remove-link { transition: $trans; }

input[type=submit], button[type=submit], a.button {
    background-color: $deeppink;
    border-color: $deeppink;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: normal;
    padding: 10px;
    &:hover { background-color: $mediumpink; }
}

.button:not(.wp-hide-pw, .wc-forward), input.tnp-submit { @include buttonsImportant; }

input[type=text], input[type=password], input[type=email], input[type=tel] {
    border-radius: 5px !important;
    padding-left: 8px !important;
    &::placeholder { color: $mediumgray !important; }
}

div.threeColumns {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.sideMenu {
    @include roundedCorners;
    padding: 0 15px 20px 15px;
    font-size: 14px;
    @include fitContentWidth;
    height: fit-content;

    ul {
        margin: 0;
        list-style: none;
        padding: 0;
        @include headerAndSidebarLinks;
    }

    h2 { margin-bottom: 0; }
}

h1#fourOhFourPage {
    color: $deeppink;
    text-align: center;
    font-size: 64px;
    margin-top: 15px;
    margin-bottom: 0;
    text-shadow: $largeShadow;
}

i.fa.fa-window-close {
    position: absolute;
    color: red;
    text-shadow: $mediumShadow;
    cursor: pointer;
    &:hover { filter: brightness(90%); }
}

body:not(.page-id-103) input.tnp-email { width: 29% !important; }
input.tnp-email, input.tnp-name { @include inputFieldsImportant; }
input.tnp-submit { margin: auto !important; }