* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &.admin-bar { min-height: calc(100vh - 32px); }
}

div#mainContent {
    flex: 1;
    margin-bottom: 8px;
    a {
        @include linkText;
    }
}

div.textContent, div#searchOverlay { padding: 0 $verticalPadding; }

a, a i, input[type=submit], button[type=submit], i#closeSearch, button.wc-block-cart-item__remove-link { transition: $trans; }

input[type=submit], button[type=submit], a.button { @include buttons; }

input[type=text], input[type=password], input[type=email], input[type=tel] {
    border-radius: 30px !important;
    padding-left: 8px !important;
}

div.threeColumns {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.sideMenu {
    @include roundedCorners;
    padding: 0 10px 20px 10px;
    font-size: small;
    @include fitContentWidth;
    height: fit-content;

    ul {
        margin: 0;
        list-style: none;
        padding: 0;
        li a { text-decoration: none; }
        li.is-active a, li a[aria-current=page] {
            text-decoration: underline;
            color: $mediumpink !important;
        }
    }

    h2 { margin-bottom: 0; }
    a { @include linkText; }
}

h1#fourOhFourPage {
    color: $deeppink;
    text-align: center;
    font-size: 64px;
    margin-top: 15px;
    text-shadow: $largeShadow;
}

i.fa.fa-window-close {
    position: absolute;
    color: red;
    text-shadow: $mediumShadow;
    cursor: pointer;
    &:hover { filter: brightness(90%); }
}