$deeppink: rgb(245, 83, 115);
$mediumpink: rgb(239, 139, 161);
$softpink: rgb(250, 122, 148);
$lightpink: #ffe1ee;
$plum: rgb(245, 0, 160);
$semitransparentdeeppink: rgba(245, 83, 115, 0.75);
$mediumgray: rgb(106, 95, 96);
$darkgray: rgb(59, 58, 58);
$verticalPadding: 80px;
$phoneVerticalPadding: 10px;
$trans: 0.3s;
$largeShadow: 1px 1px 1.5px black;
$mediumShadow: 0.5px 0.5px 1px black;
$smallShadow: 0.25px 0.25px 0.5px black;