body.woocommerce-account {
    div.woocommerce { display: flex; }
    nav.woocommerce-MyAccount-navigation {
        @extend .sideMenu;
        &::before {
            content: "Account Dashboard";
            font-size: 2em;
            display: block;
            margin-top: 0.67em;
            font-weight: bold;
        }
    }
    
    div.woocommerce-MyAccount-content {
        flex: 1;
        float: left !important;
        padding-left: 10px;
        p:first-of-type { margin-top: 0; }
        div.wc-block-components-notice-banner { margin: 0; }
    }

    span.show-password-input { top: 0; }
    span em { display: none; }

    input[type=text], input[type=password], input[type=email] {
        border: 1px solid black;
        background-color: $lightpink;
    }
}

header.woocommerce-Address-title h3 { margin-top: 0; }